<div class="section home-hero">
  <div class="page-width">

    <div class="flex" style="text-align: center;">
      <div class="home-content-holder">
          <div class="h1"><span style="font-weight:500;font-size:1.1em;">⚡ Flash Sale ⚡</span></div>
          <div class="h0" style="color:#3C9EDB;font-size:5em;">$30 OFF</div>
          <div class="h1"><span style="font-weight:500;margin-top: -5px;display: block;">1 Month Supply & Above</span></div>
          <a href="/collections/all" class="button button--primary" style="background:#3C9EDB;margin: 0 auto 5px auto !important">Shop Now</a>
          {% comment %}{% render 'countdown-timer', end_date: "May 22, 2024" %}{% endcomment %}
      </div>
    </div>
  </div>
</div>
<img class="visible-xs" style="display:block" src="{{'cookie-shoot-mobile-hero.jpg' | file_img_url: '750x'}}" alt="Cookie Diet hero"/>
