<a href="/discount/BFCM20?redirect=/collections/all" class="home-hero">
  <img src="{{ 'BFCM20-US.png' | file_img_url: '700x' }}" width="700" alt="Black Friday Hero Banner Save 20%"/>
  {% render 'countdown-timer', end_date: "Dec 05, 2022" %}
</a>


<style>

    .home-hero {
      text-decoration: none;
    padding: 50px 0 75px 0;
    position: relative;
      display:block;
      text-align:center;
    background: #000;
  }
  .home-hero img {
    width: 700px !important;
    margin: auto;
  }
</style>