<div class="page-width tabs nutritional-tabs-wrapper">
  <ul class="nav nutrition-pills" style="border-bottom: 0" role="tablist">
    <li class="tab-btn button color-accent-1 active" data-name="chocolate-brownie">Chocolate Brownie</li>
    <li class="tab-btn button color-accent-1" data-name="maple-pancakes">Maple Pancakes</li>
    <li class="tab-btn button color-accent-1" data-name="cinnamon-oatmeal">Cinnamon Oatmeal</li>
    <li class="tab-btn button color-accent-1" data-name="butterscotch">Butterscotch</li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active chocolate-brownie">
        <div>
          <table class="table table-responsive">
            <tbody>
              <tr>
                <th></th>
                <th>Quantity per serving</th>
                <th>Quantity per 100g</th>

              </tr>
              <tr>
                <td>Energy (kJ)</td>
                <td>439</td>
                <td>1568</td>
              </tr>
              <tr>
                <td>Protein, total (g)</td>
                <td>4</td>
                <td>14</td>
              </tr>
              <tr>
                <td>Fat total (g)</td>
                <td>3</td>
                <td>11</td>
              </tr>
              <tr>
                <td>Saturated</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Trans</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Cholesterol (mg)</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Carbohydrate (g)</td>
                <td>16</td>
                <td>57</td>
              </tr>
              <tr>
                <td>Sugars</td>
                <td>8</td>
                <td>29</td>
              </tr>
              <tr>
                <td>Dietary Fibre (g)</td>
                <td>0.8</td>
                <td>2.7</td>
              </tr>
              <tr>
                <td>Sodium (mg)</td>
                <td>170</td>
                <td>607</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <h2>Chocolate Brownie</h2>
          <p>Servings Per Package: <span class="primary-light">4.5</span></p>
          <p>Serving Size:<span class="primary-light"> 2 cookies (28g)</span></p>

          <p><span style="color:#ff734c">Ingredients:</span>
          SUGAR, WHEAT FLOUR, VINEGAR, CANOLA OIL,COCOA, MILK SOLIDS, EGG WHITE SOLIDS, WHOLE WHEAT FLOUR, GLYCEROL, OATMEAL, WHEY, CRISP RICE (RICE FLOUR, MALT EXTRACT SALT), VANILLA EXTRACT LEAVENING (SODIUM ACID PYROPHOSPHATE, BICARBONATE OF SODA, CORNSTARCH, MONOBASIC CALCIUM PHOSPHATE), BUCKWHEAT FLOUR, SPELT FLOUR, OAT BRAN. WHEAT BRAN, MOLASSES, SEA SALT. SODIUM BICARBONATE</p>
          <p><b>Contains: MILK, EGGS, AND WHEAT. MAY CONTAIN TRACES OF SOY, TREE NUTS, PEANUT, SESAME SEED.</b></p>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade maple-pancakes">
        <div>
          <table class="table">
            <tbody>
              <tr>
                <th></th>
                <th>Quantity per serving</th>
                <th>Quantity per 100g</th>

              </tr>
              <tr>
                <td>Energy (kJ)</td>
                <td>460</td>
                <td>1642</td>
              </tr>
              <tr>
                <td>Protein, total (g)</td>
                <td>4</td>
                <td>14</td>
              </tr>
              <tr>
                <td>Fat total (g)</td>
                <td>4</td>
                <td>14</td>
              </tr>
              <tr>
                <td>Saturated</td>
                <td>1</td>
                <td>4</td>
              </tr>
              <tr>
                <td>Trans</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Cholesterol (mg)</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Carbohydrate (g)</td>
                <td>15</td>
                <td>54</td>
              </tr>
              <tr>
                <td>Sugars</td>
                <td>9</td>
                <td>32</td>
              </tr>
              <tr>
                <td>Dietary Fibre (g)</td>
                <td>0.6</td>
                <td>2.1</td>
              </tr>
              <tr>
                <td>Sodium (mg)</td>
                <td>170</td>
                <td>607</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <h2>Maple Pancakes</h2>
          <p>Servings Per Package: <span class="primary-light">4.5</span></p>
          <p>Serving Size:<span class="primary-light"> 2 cookies (28g)</span></p>

          <p><span style="color:#ff734c">Ingredients:</span>
          SUGAR, WHEAT FLOUR, VINEGAR, CANOLA OIL, MILK SOLIDS, WHOLE WHEAT FLOUR, EGG WHITE SOLIDS GLYCEROL, OATMEAL, WHEY, CRISP RICE, RICE FLOUR, MALT EXTRACT, SALT), NATURAL MAPLE SYRUP FLAVOUR, VANILLA EXTRACT LEAVENING (SODIUM ACID PYROPHOSPHATE, BICARBONATE OF SODA, CORNSTARCH, MONOBASIC CALCIUM PHOSPHATE.), CORNSTARCH, BUCKWHEAT FLOUR, SPELT FLOUR, OAT BRAN, WHEAT BRAN, MOLASSES, SEA SALT, SODIUM BICARBONATE]</p>
          <p><b>Contains: MILK, EGGS, AND WHEAT. MAY CONTAIN TRACES OF SOY, TREE NUTS, PEANUT, SESAME SEED.</b></p>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade cinnamon-oatmeal">
        <div>
          <table class="table table-responsive">
            <tbody>
              <tr>
                <th></th>
                <th>Quantity per serving</th>
                <th>Quantity per 100g</th>

              </tr>
              <tr>
                <td>Energy (kJ)</td>
                <td>502</td>
                <td>1791</td>
              </tr>
              <tr>
                <td>Protein, total (g)</td>
                <td>4</td>
                <td>14</td>
              </tr>
              <tr>
                <td>Fat total (g)</td>
                <td>4</td>
                <td>14</td>
              </tr>
              <tr>
                <td>Saturated</td>
                <td>1</td>
                <td>4</td>
              </tr>
              <tr>
                <td>Trans</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Cholesterol (mg)</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Carbohydrate (g)</td>
                <td>16</td>
                <td>57</td>
              </tr>
              <tr>
                <td>Sugars</td>
                <td>9</td>
                <td>32</td>
              </tr>
              <tr>
                <td>Dietary Fibre (g)</td>
                <td>0.7</td>
                <td>2.5</td>
              </tr>
              <tr>
                <td>Sodium (mg)</td>
                <td>200</td>
                <td>714</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <h2>Cinnamon Oatmeal</h2>
          <p>Servings Per Package: <span class="primary-light">4.5</span></p>
          <p>Serving Size:<span class="primary-light"> 2 cookies (28g)</span></p>

          <p><span style="color:#ff734c">Ingredients:</span>
          SUGAR, WHEAT FLOUR, VINEGAR, CANOLA OIL, MILK SOLIDS, EGG WHITE SOLIDS, WHOLE WHEAT FLOUR, GLYCEROL, OATMEAL, WHEY, CRISP RICE (RICE FLOUR MALT EXTRACT, SALT), LEAVENING (SODIUM ACID PYROPHOSPHATE, BICARBONATE OF SODA, CORNSTARCH, MONOBASIC CALCIUM PHOSPHATE, CORNSTARCH, BUCKWHEAT FLOUR, SPELT FLOUR, OAT BRAN, WHEAT BRAN MOLASSES,CINNAMON, SEA SALT, SODIUM BICARBONATE</p>
          <p><b>Contains: MILK, EGGS, AND WHEAT. MAY CONTAIN TRACES OF SOY, TREE NUTS, PEANUT, SESAME SEED.</b></p>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade butterscotch">
        <div>
          <table class="table">
            <tbody>
              <tr>
                <th></th>
                <th>Quantity per serving</th>
                <th>Quantity per 100g</th>

              </tr>
              <tr>
                <td>Energy (kJ)</td>
                <td>460</td>
                <td>1642</td>
              </tr>
              <tr>
                <td>Protein, total (g)</td>
                <td>4</td>
                <td>14</td>
              </tr>
              <tr>
                <td>Fat total (g)</td>
                <td>4</td>
                <td>14</td>
              </tr>
              <tr>
                <td>Saturated</td>
                <td>1</td>
                <td>4</td>
              </tr>
              <tr>
                <td>Trans</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Cholesterol (mg)</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Carbohydrate (g)</td>
                <td>15</td>
                <td>54</td>
              </tr>
              <tr>
                <td>Sugars</td>
                <td>9</td>
                <td>32</td>
              </tr>
              <tr>
                <td>Dietary Fibre (g)</td>
                <td>0.6</td>
                <td>2.1</td>
              </tr>
              <tr>
                <td>Sodium (mg)</td>
                <td>170</td>
                <td>607</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <h2>Butterscotch</h2>
          <p>Servings Per Package: <span class="primary-light">4.5</span></p>
          <p>Serving Size:<span class="primary-light"> 2 cookies (28g)</span></p>

          <p><span style="color:#ff734c">Ingredients:</span>
          SUGAR, WHEAT FLOUR, VINEGAR, CANOLA OIL, MILK SOLIDS, EGG WHITE SOLIDS, WHOLE WHEAT FLOUR, GLYCEROL, OATMEAL, WHEY, CRISP RICE (RICE FLOUR, MALT EXTRACT SALT), NATURAL BUTTERSCOTCH FLAVOUR, VANILLA EXTRACT, LEAVENING (SODIUM ACID PYROPHOSPHATE, BICARBONATE OF SODA, CORNSTARCH, MONOBASIC CALCIUM PHOSPHATE), CORN STARCH, BUCKWHEAT FLOUR, SPELT FLOUR, OAT BRAN. WHEAT BRAN, MOLASSES, SEA SALT. SODIUM BICARBONATE</p>
          <p><b>Contains: MILK, EGGS, AND WHEAT. MAY CONTAIN TRACES OF SOY, TREE NUTS, PEANUT, SESAME SEED.</b></p>
        </div>
      </div>
  </div>
</div>

{% style %}
#quick-facts ol li {
  color: #797979;
  font-size: 20px;
  line-height: 26px;
  padding: 15px 0 15px 5px;
}
#quick-facts ol li::marker {
  color: #ff734c
}

.nutrition-pills {
  display: flex;
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 10px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.nutrition-pills > li {
  padding: 5px;
  opacity: .7;
  text-align: center;
  margin: 10px;
  margin-bottom: 10px;
  flex: auto;
  transition: .3s ease-in-out;
}
  
.nutrition-pills li.active {
opacity: 1;
}

@media screen and (max-width: 749px) {
  .nutrition-pills li {
    flex: 0 1 45%;
  }
  .tab-pane {
    flex-wrap: wrap;
    text-align:center;
  }
  .nutritional-tabs-wrapper .tab-pane {
    grid-template-columns: 1fr !important;
  }
}

@media screen and (min-width: 750px) {
  .tab-pane div:nth-child(2) {
    flex: 1;
  }
  .tab-pane {
    gap: 2em !important;
  }
}

.nutritional-tabs-wrapper .tab-pane {
  color: #262626;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  height: auto;
  max-height: 0px;
  display: grid; 
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  gap: 1em;
}

.tab-pane.active{
  opacity: 1;
  height: auto;
  max-height: 1500px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  text-align: left;
  border-top: 1px solid #ddd;
}
.table {
  border: 1px solid #ddd;
  border-top: none;
}

{% endstyle %}

<script>
   function initTab(elem) {
 
        //addEventListener on mouse click
        document.addEventListener('click', function (e) {
     
            //check is the right element clicked
            if (!e.target.matches(elem+' .tab-btn')) return;
            else{
                if(!e.target.classList.contains('active')){
     
                    //if option true remove active class from all other t-btn and t-panel 
                    findActiveElementAndRemoveIt(elem+' .tab-btn');
                    findActiveElementAndRemoveIt(elem+' .tab-pane');
     
                    //add active class on clicked tab  
                    e.target.classList.add('active');  
     
                    setTimeout(function(){                 
                        var panel = document.querySelectorAll(elem+' .tab-pane.'+e.target.dataset.name);
                        Array.prototype.forEach.call(panel, function (el) {
                            //add active class on right t-panel after 200ms because of the smooth animation  
                            el.classList.add('active');
                        });
                    }, 200);
                }
            }
        });
    }
     
    //if option true remove active class from added element
    function findActiveElementAndRemoveIt(elem){
        var elementList = document.querySelectorAll(elem);
        Array.prototype.forEach.call(elementList, function (e) {
            e.classList.remove('active');
        });
    }
     
    //activate tabs function
    initTab('.tabs');
</script>