
  <div class="page-width">
    <div class="grid grid--gapless grid--1-col grid--2-col-tablet">
      <div class="grid__item">
          <h2 class="image-with-text__heading h1">Quick Facts</h2>
          
            <div class="flex">
              <span class="primary-light">1.</span> Dr. Siegal’s Cookie Diet cookies are normal cookies, they are just low calorie and contain a special mixture of proteins that naturally suppress hunger.
            </div>
            <div class="flex">
              <span class="primary-light">2.</span> They taste like normal cookies, they are all natural, no artificial flavours.
            </div>
            <div class="flex">
              <span class="primary-light">3.</span> The cookies help control your hunger so that you can stick to a low calorie diet. You can use them as a healthy snack alternative or for weight loss.
            </div>
            <div class="flex">
              <span class="primary-light">4.</span> Weight Losing Phase: 9 Cookies (1-2 cookies every 2 hours) plus Dinner (lean meat plus salad/veggies)
            </div>
            <div class="flex">
              <span class="primary-light">5.</span> Weight Maintenance Phase: Once goal weight achieved, eat healthy meals and enjoy the cookies as a healthy, low calorie snack between meals
            </div>
                
          <a target="_blank" href="https://cdn.shopify.com/s/files/1/0540/3430/1106/files/Dr_Siegals_Cookie_Diet_Quick_Guide_AUS-Copy.pdf?v=1614145267" class="button button--primary">
            Quick Guide
          </a>
      </div>
      <div class="grid__item">
      </div>
    </div>
  </div
