<div class="refer-friend-works">
    <h2 class="refer-friend-works--title h1" style="margin-bottom: 10px;">How Refer A Friend Works</h2>
    <div class="refer-friend-works--item">
      <div class="circle-button">{% render 'icon-comment' %}</div>
      <div>
        <h3 class="h2">Share your link</h3>
        <p>Invite friends to create an Cookie Diet account so they can enjoy the Cookie Diet as much as you do!</p>
      </div>
    </div>
    <div class="refer-friend-works--item">
       <div class="circle-button">{% render 'icon-shopping-bag' %}</div>
      <div>
        <h3 class="h2">Friend Buys Something</h3>
        <p>Every friend you refer will receive a $10 voucher once they create their Cookie Diet account (minimum spend $100).</p>
      </div>
    </div>
    <div class="refer-friend-works--item">
      <div class="circle-button">{% render 'icon-money-bill' %}</div>
      <div>
        <h3 class="h2">Earn $10 Voucher!</h3>
        <p>If your friend makes a purchase we'll send you a discount code via email for $10 off.</p>
      </div>
    </div>
</div>
</div>
