.video-section__media {
  position: relative;
  padding-bottom: 56.25%;
}

.video-section__media.deferred-media {
  box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius) rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.video-section__media.deferred-media:after {
  content: none;
}

.video-section__poster.deferred-media__poster:focus {
  outline-offset: 0.3rem;
}

.video-section__media iframe {
  background-color: rgba(var(--color-foreground), 0.03);
  border: 0;
}

@media screen and (max-width: 749px) {
  .text-with-video .image-with-text__media-item {
      max-width: initial;
      width: 100%;
      margin: 0 -1.5rem -3rem;
  }
}

.text-with-video-title {
  flex: 1;
  margin-top:0;
  text-align: center;
  justify-content: center;
}
.video-section--narrow {
  width: 900px;
  max-width: 100%;
  margin: auto;
}
.video-section__poster,
.video-section__media iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
