.benefits {
  padding-top: 60px;
  padding-bottom: 0;
  overflow: hidden;

  &--overlayed {
    position: relative;
    padding-top: 0;
    margin-top: -23.5px;
  }

  &__container {
    @include respond-to(tablet-portrait-up) {
      padding: 0 5rem;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    padding-bottom: 60px;
    column-gap: 25px;
    justify-content: center;
  }

  &__item {
    background-color: rgba(238,232,218,1);
    display: flex;
    align-items: center;
    padding: 6px 20px 6px 6px;
    gap: 8px;
    border-radius: 100px;

    &__title {
      font-size: 18px;
      line-height: 1;
    }

    &__icon {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  @include respond-to(tablet-portrait-up) {
    &__items {
      &:last-child {
        display: none;
      }
    }
  }

  @include respond-to(laptop-up) {
    &--overlayed {
      margin-top: -37.5px;
      padding: 0 5rem;
    }

    &__item {
      padding: 10px 40px 10px 10px;
      gap: 16px;

      &__title {
        font-size: 20px;
      }

      &__icon {
        width: 45px;
        height: 45px;
      }
    }
  }

  @include respond-to(phone-only) {
    /* Setting custom properties for logo dimensions, spacing, and animation duration */
    /* https://jsdev.space/logo-scroll-css/ */
    --logo-width: 250px; /* Width of each logo */
    --logo-height: 100px; /* Height of each logo */
    --gap: calc(var(--logo-width) / 14); /* Space between logos, calculated based on logo width */
    --duration: 30s; /* Duration of the scroll animation */
    --scroll-start: 0; /* Start position of scroll animation */
    --scroll-end: calc(-100% - var(--gap)); /* End position of scroll animation */

    //display: flex; /* Aligns children in a row */
    flex-direction: column; /* Stacks content vertically */
    gap: var(--gap); /* Adds space between child elements */
    max-width: 100vw; /* Limits width to the viewport */

    &__container {
      display: flex;
      overflow: hidden;
      user-select: none;
      gap: var(--gap);
    }
  }

  &__items {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll var(--duration) linear infinite;
  }

  @keyframes scroll {
    from {
      transform: translateX(var(--scroll-start)); /* Animation start position */
    }
    to {
      transform: translateX(var(--scroll-end)); /* Animation end position */
    }
  }
}
